__include__: [
  '../dataset/custom_detection.yml',
  '../runtime.yml',
  '../base/dataloader_dfine.yml',
  '../base/optimizer.yml',
  '../base/dfine_hgnetv2.yml',
  '../base/common.yml'
]

comment: 'WaveEncoderBlock, s'

output_dir: ./outputs/my1_wave_v2_s

DEIM_MG:
  yaml_path: configs/cfg/my1_wave_v2_s.yaml
# Increase to search for the optimal ema
