__include__: [
  '../dataset/custom_detection.yml',
  '../runtime.yml',
  '../base/dataloader_dfine.yml',
  '../base/optimizer.yml',
  '../base/dfine_hgnetv2.yml',
  '../base/common.yml'
]


output_dir: ./outputs/my1_wapk_t1_2

DEIM_MG:
  yaml_path: configs/cfg/my1_wapk_t1.yaml
# Increase to search for the optimal ema
epoches: 120
train_dataloader:
  dataset:
    transforms:
      policy:
        epoch: 108
  collate_fn:
    stop_epoch: 108
    ema_restart_decay: 0.9999
    base_size_repeat: ~

comment: 'clip max norm set to 2.0'