__include__: [
  '../dataset/custom_detection.yml',
  '../runtime.yml',
  '../base/dataloader_dfine.yml',
  '../base/optimizer.yml',
  '../base/dfine_hgnetv2.yml',
  '../base/common.yml'
]

comment: 'dfine-s-hypergraph-wave, s'

output_dir: ./outputs/dfine-s-hypergraph-wave

DEIM_MG:
  yaml_path: configs/cfg/dfine-s-hypergraph-wave.yaml